.header{
    margin-top: -20px;
    height:400px;
    background-color: rgba(162, 168, 218, 0.5);
    background-image:linear-gradient(rgba(53, 113, 224, 0.568),white);
    
}
.search{
    background-color: white;
    padding:10px;
    border-radius: 20px 0px 0px 20px;
    
}
.search1{
    background-color: white;
    padding:10px;
}

#btn{
    padding:18px;
    margin-left: -8px;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    color:black;
    

}
#btn:hover{
  
   background-color: black;
    color: white;
}
.dom{
    margin-top: -20px;
}
.img-hover{
    transition: 0.3s;
}
.img-hover:hover {
    transform: translate(0, -20px);
}

